body {
    font-family: sans-serif;
    text-align: center;
  }
  
  .guess {
    display: flex;
    justify-content: center;
  }
  
  .letter {
    border: 2px solid #86888a;
    font-size: 30px;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    margin: 3px;
    padding: 3px;
    text-align: center;
    text-transform: uppercase;
    width: 50px;
  }
  
  .guessed .letter {
    background-color: #86888a;
    color: #FFFFFF;
  }
  
  .guessed .letter.contains {
    background-color: #c9b458;
    border-color: #c9b458;
  }
  
  .guessed .letter.match {
    background-color: #6aaa64;
    border-color: #6aaa64;
  }
  
  #inputs {
    margin: 20px 0;
  }
  
  #message {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
  }